.sp-cart {
  padding: 15px;
}
.sc-jumbotron {
  border: 2px solid #b3adad;
}
.qtyminus,
.qtyplus,
.qvt-cout {
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: #e1e8ee;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
}
.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.cart__items {
  margin-left: 20px;
  margin-right: 20px;
}
.trash_btn {
  border: none;
  color: #000;
}
:hover.trash_btn {
  color: #e40017;
}
