/**************************** MiddleNav styles ***********************/
*:focus {
  outline: 0 !important;
}

.header__nav {
  margin: 0;
  padding: 0 20px;
}

.text-color {
  color: var(--text-color);
}

/* drop-down menu */

.dropdown-menu a:active,
.dropdown-menu li:active {
  background-color: #b3b0b0 !important;
}

.dropdown-menu a {
  text-decoration: none;
}

.megamenu_col {
  text-align: center !important;
}
.megamenu_col a {
  color: var(--bg-accent);
}

@media (min-width: 992px) {
  .dropdown-menu[aria-labelledby='megamenu'] {
    background-color: #ffffffcc !important;
    opacity: 9.5;
    min-width: 50rem !important;
    transform: translateX(-45%);
  }

  .dropdown-menu-right[aria-labelledby='dropdown-button-shopping'] {
    min-width: 40rem;
  }

  .dropdown-menu-right[aria-labelledby='dropdown-button-user'] li {
    text-align: start;
  }
}

/**************************** RightNav styles **********************************/
.dropdown-menu-right[aria-labelledby='dropdown-button-user'] {
  overflow: hidden;
  background-color: #ffffffcc !important;
}

.dropdown-menu-right[aria-labelledby='dropdown-button-shopping'] {
  width: 100%;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: #ffffffcc !important;
}

.dropdown-menu-right a {
  text-decoration: none;
}

.dropdown-menu-right li {
  text-align: center;
}

/* Search Bar */
.filtered {
  min-height: 465px;
}
.nav__search:hover .dropdown-menu {
  display: block !important;
}

.nav__search > .dropdown-menu {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
}

.nav__search > .dropdown-menu  {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav__search > .dropdown-menu .serach__input {
  margin: 0 !important;
  color: #fff !important;
  border-color: #fff;
  box-shadow: 0 0 0 0 #fcfcfc;
}
.nav__search .dropdown-toggle:after {
  display: none;
}

@media (max-width: 992px) {
  #basic-navbar-nav
    > div.nav__right.ml-auto.text-color.navbar-nav
    > div.nav__search.nav-item.show.dropdown {
    background-color: transparent !important;
  }
}
